.welcome-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:40px;

    border-radius:22px;

    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    overflow:hidden;

    position:relative;

    margin-bottom:35px;

    box-shadow:0 20px 50px rgba(37,99,235,.30);

}

.welcome-card::before{

    content:"";

    position:absolute;

    width:250px;

    height:250px;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    right:-80px;

    top:-80px;

}

.welcome-date{

    font-size:14px;

    opacity:.85;

}

.welcome-card h1{

    margin-top:12px;

    font-size:34px;

}

.welcome-card p{

    margin-top:12px;

    font-size:17px;

    color:#e2e8f0;

}

.welcome-buttons{

    display:flex;

    gap:15px;

    margin-top:28px;

}

.primary-btn{

    background:white;

    color:#2563eb;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

    display:flex;

    align-items:center;

    gap:10px;

    font-weight:600;

    transition:.3s;

}

.primary-btn:hover{

    transform:translateY(-3px);

}

.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.4);

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

    display:flex;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.secondary-btn:hover{

    background:rgba(255,255,255,.12);

}

.rocket-circle{

    width:120px;

    height:120px;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:52px;

}