.dashboard-card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.dashboard-card h3{

    color:#64748b;

}

.dashboard-card h1{

    margin-top:10px;

    font-size:40px;

}